fastapi==0.115.8
uvicorn==0.34.0
python-dotenv==1.0.1
python-multipart==0.0.20
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
sqlalchemy==2.0.37
sqladmin==0.20.1
jinja2==3.1.5
google-generativeai==0.8.4
pydantic==2.10.6
pydantic-settings==2.7.1
requests==2.32.3
httpx==0.28.1
mangum==0.19.0
edge-tts==6.1.19
itsdangerous==2.2.0
cryptography==44.0.1
aiofiles==24.1.0
psycopg2-binary==2.9.10
